
  <div class="index-logo">
      <img src="assets/BORODINSKI-Logo.png" alt='Барбершоп "Бородинский"'>
  </div>

  <section class="features">
      <div class="feature-item">
          <div class="feature-title">Быстро</div>
          <div class="icon-diamond"></div>
          <p>
              МЫ ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И ВЫ — СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
          </p>
      </div>
      <div class="feature-item">
          <div class="feature-title">Круто</div>
          <div class="icon-diamond"></div>
          <p>
              ЗАБУДЬТЕ, КАК ВЫ СТРИГЛИСЬ РАНЬШЕ. МЫ СДЕЛАЕМ ИЗ ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.
          </p>
      </div>
      <div class="feature-item">
          <div class="feature-title">Дорого</div>
          <div class="icon-diamond"></div>
          <p>
              НАШИ МАСТЕРА — ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И НЕ МОГУТ СТОИТЬ ДЕШЕВО. К ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?
          </p>
      </div>
  </section>
