<section class="index-content">
  
              <div class="index-content-left">
                  <h2 class="index-content-title">Контактная информация</h2>
                  <p>
                      БАРБЕРШОП «БОРОДИНСКИЙ» <br> АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, Б. КОНЮШЕННАЯ, Д. 19/8 <br> ТЕЛЕФОН: +7 (495) 666-02-66
                  </p>
                  <p>
                      ВРЕМЯ РАБОТЫ:<br> ПН — ПТ: С 10:00 ДО 22:00<br> СБ — ВС: С 10:00 ДО 19:00
                  </p>
                  <a href="">как проехать</a>
                  <a href="">Обратная связь</a>
              </div>
  
              <div class="index-content-right">
                  <h2 class="index-content-title">Записаться</h2>
  
              </div>
              <p>
                  УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И ВРЕМЯ И МЫ СВЯЖЕМСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
              </p>
              <form action="PHP_SELF" class="appointment-form" method="post">
                  <input type="text" name="date" value="" placeholder="Дата">
                  <input type="time" name="time" value="" placeholder="Время">
                  <input type="text" name="name" value="" placeholder="Телефон" pattern="2[0-9]{3}-[0-9]{3}">
                  <input type="text" name="phone" value="" placeholder="Ваше имя">
                  <button class="btn" type="submit"></button>
              </form>
          </section>